/* html, body {
    height: 100%;
} */

body {
    margin: 0;
    background-color: #E5E5E5;  
    color: #000000; 
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
}

/* img {
    max-width: 100%;
    height: auto;
  } */

.pageContainer {    
    width: 1260px;
    /* height: 100%; */
    background: #FFFFFF;
    margin: 0 auto;    
    border-top: 5px solid #9B51E0; 
}

.pageContainerInner {
    width: 962px;
    margin: 0 auto;
}

.pageHeader {    
    padding-top: 25px;
}

.pageHeaderTop {
    height: 60px;
    align-items: center;
}

.logo {    
    margin-left: 20px;
    height: 48px;
}

.logoText {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    text-transform: uppercase;
    display: block;
    background-color: #FFFFFF;    
}

.logo::before {
    content: "";
    display: block;
    width: 50px;
    height: 48px;
    background: #FFFFFF;
    border: 3px solid #FFC740;
    box-sizing: border-box;    
    margin: 0px 0px -35px -20px; 
}

.searchInput {  
    width: 159px;    
    border-radius: 0px;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #6D3D99;
    box-sizing: border-box;
}

.searchBtn {    
    width: 42px;
    height: 31px;
    background: #9B51E0;
    border: none;
    padding: 0px;
    margin-left: -4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.headerMain {
    height: 332px;    
    background: url(../img/design/Mountains-and-hills-julian-alps.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.headerMainInner {    
    height: 332px; 
    background: rgba(0, 0, 0, 0.38);
    padding: 15px 470px 15px 42px;
    box-sizing: border-box;
}

.headerH1 {   
    font-size: 64px;
    line-height: 75px;
    font-weight: 400;
    color: #FFC740;
    text-align: left;
    margin: 0px;
}

.headerMainText {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.refBtn {
    display: block;
    width: 125px;
    height: 34px;
    background: #6D3D99;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 34px;
    color: #FFFFFF;
}

.mainMenu {
    padding: 16px 0;
}

.mainMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.mainMenuItem {
    display: inline-block;    
    width: 123px;
    height: 47px;
    background: #FFFFFF;
    text-align: center;
}

.mainMenuItemActive {
    background: #FFC740;    
}

.mainMenu a {
    text-decoration: none;
    text-transform: uppercase;
    
    font-size: 14px;
    line-height: 47px;
    color: #050505;
}

.mainMenuItemActive a {   
    font-weight: bold;
    color: #FFFFFF;       
}

.block {
    width: 460px;
}

.blockThree {
    width: 302px;
}

.blockHeader {
    height: 16px;
    background: #9B51E0;
    padding-left: 16px;
}

.blockHeaderLight {
    background: #FFC740;    
}

.blockTitle {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    padding: 0px 5px;
    margin: 0;
    background-color: #FFFFFF; 
}

.blockContent {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.blockContentComposite {
    padding-top: 28px;
}

.blockImg {    
    width: 137px;
    height: 137px;
}

.blockImgOuter {
    width: 141px;
    height: 141px;
    margin-right: 20px;
    background: #C4C4C4;
    border: 3px solid #FFC740;  /* #CC8414; */
}

.blockImgInner {
    width: 137px;
    height: 137px;
    border: 2px solid #FFFFFF;
}

.blockLink {
    color: #000000;
}

.titleSmall {
    text-transform: uppercase;
}

.blockSmallText {
    margin-top: 0px;
}

.blockContentSmall {
    display: flex;
}

.blockImgSmall {
    margin-right: 10px;
    width: 38px;
    height: 38px;
}

.posts {
    padding: 11px 11px;
}

.other {
    padding: 11px 11px;
}

.clients {
    padding: 11px 11px;
}

.clientsContent {
    margin: 20px;
}

.flexWrapSpaceBetweenContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexSpaceAroundContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pageFooter {
    height: 115px;
    background: #6D3D99;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 14px;  
    line-height: 115px;
}